{
  "Actions": [
    {
      "Name": "W",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "S",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "A",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "D",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Space",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "SPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "Shift",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "SHIFT",
      "GamepadCode": "None"
    },
    {
      "Name": "Alt",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "ALT",
      "GamepadCode": "None"
    },
    {
      "Name": "Ctrl",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "CTRL",
      "GamepadCode": "None"
    },
    {
      "Name": "E",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "None"
    },
    {
      "Name": "Q",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "Mouse1",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "None"
    },
    {
      "Name": "Mouse2",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    },
    {
      "Name": "Mouse3",
      "GroupName": "TopDownController",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    },
    {
      "Name": "Forward",
      "GroupName": "FirstPersonController",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "R",
      "GroupName": "Testing",
      "Title": null,
      "KeyboardCode": "R",
      "GamepadCode": "None"
    }
  ],
  "__guid": "476becd2-e1c0-48e0-8bb3-340eab72d256",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}